*{
    background-color: aquamarine;
}
h3{
    background-color: mediumaquamarine;
    color: black;
}
h4{
    color: black;
}
h4.name{
    color: blue;
}
.credentials{
    color: yellowgreen;
}
span{
    background-color: antiquewhite;
    color: red;
}